# This configuration file is used for Mouse/mm10

[execute_steps]
# The following steps which are set as True will be excuted sequentially.
Quality_contrl      = True
Split_cells         = True
Clean_reads         = True
Read_mapping        = True
Gene_quantify       = True
Unmapped_remapping  = False
Unmapped_requantify = False
Summary_results     = True

[options]
# these OPTION/KEY can/will be override by command line options
# --input, -i	input data folder; Must contains paired-end fastq files whose name should match the regular expression of `SAMPLE_[rR]?[12].f(ast)?q(.gz)?` (SAMPLE list is included in file specified by -s option)
# --sample, -s	one SAMPLE per line in this file; Processing will be performed on those fastq files matching with `SAMPLE_[rR]?[12].f(ast)?q(.gz)?`;
# --output, -o	output folder; existed folders is not allowed.
# --thread, -p	run in parallel-mode if THREAD > 1
# --reference, -x	prefix of hisat2 index files used for read_mapping
# --gtf, -f	annotation file in gene feature format (GFF/GTF), which will be used by htseq-count
# --re_reference, -X	same with -x, but used by remapping
# --re_gtf, -F	same with -f, but used by requantify
raw_data               = ./raw_data         ; --input, -i
sample_list            = ./sample           ; --sample, -s
output_dir             = ./out_smartliu     ; --output, -o
thread_n               = 24                 ; --thread, -p
reference_mapping      = refgene            ; --reference, -x
annotation_mapping     = refgene            ; --gtf, -f
reference_unmapped_re  = cart19,cart22      ; --re_reference, -X
annotation_unmapped_re = cart19,cart22      ; --re_gtf, -F
# Notice the value of OPTION/KEY `reference` from SECTION `options` should be either a OPTION/KEY from SECTION `reference` or a absolute path for reference-indexes. 
# Because here it used hisat2 for read_mapping, you could use hisat2-build to generate index files.

[reference] 
# the following OPTION/KEY is short for the corresponding VALUE, the prefix of index files which could be generated by hisat2-build.
genome  = /data1/Database/genome/fromTangLab/mm10/mm10_ERCC92_RGC
refgene = /data1/Database/genome/fromTangLab/mm10/mm10_ERCC92_RGC.refGene
cart19    = /data1/Database/genome/fromTangLab/hg19/CART19
cart22    = /data1/Database/genome/fromTangLab/hg19/CART22
[annotation]
refgene = /data1/Database/genome/fromTangLab/mm10/mm10_ERCC92_RGC.refGene.gtf
cart19    = /data1/Database/genome/fromTangLab/hg19/CART19.gtf
cart22    = /data1/Database/genome/fromTangLab/hg19/CART22.gtf
[server]
thread_max = 56
[tools]
Quality_contrl      = RESERVED_FOR_FUTURE_USE
Split_cells         = RESERVED_FOR_FUTURE_USE
Clean_reads         = RESERVED_FOR_FUTURE_USE
Read_mapping        = RESERVED_FOR_FUTURE_USE
Gene_quantify       = RESERVED_FOR_FUTURE_USE
Unmapped_remapping  = RESERVED_FOR_FUTURE_USE
Unmapped_requantify = RESERVED_FOR_FUTURE_USE
Summary_results     = RESERVED_FOR_FUTURE_USE

